<div ng-if="uploader">
    
    <div ng-repeat="(type, msg) in messages">
        <div ng-show="msg" class="alert alert-{{type}} alert-dismissible flash" role="alert">
            <button type="button" ng-click="cleanMessage(type)" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>
                <i ng-class="{'fa-warning': type=='danger', 'fa-info': type=='info', 'fa-check': type=='success'}" class="fa"></i>
            </strong>
            {{msg}}
        </div>
    </div>

    <div class="clear"></div>

    <div class="text-center">
        <input type="file" nv-file-select multiple uploader="uploader" id="file" ng-hide="true">
        <div ng-show="uploader.isHTML5" class="upFile" data-id="default" role="button">
            <div nv-file-drop="" uploader="uploader" ng-click="openFile()">
                <div nv-file-over="file-over" uploader="uploader" over-class="another-file-over" class="well my-drop-zone">
                    Arrate aqui ou clique para efetuar o upload
                    <i class="fa fa-upload"></i>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="uploader.queue.length>1">
        <div class="file-group-item">
            <div class="col-md-3">
                <button type="button" class="btn btn-success btn-xs" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length"
                        uib-tooltip="Enviar tudo" uib-tooltip-placement="top" uib-tooltip-trigger="mouseenter">
                    <span class="glyphicon glyphicon-upload"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading"
                        uib-tooltip="Cancelar tudo" uib-tooltip-placement="top" uib-tooltip-trigger="mouseenter">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteAll(uploader)" ng-disabled="!uploader.queue.length"
                        uib-tooltip="Remover tudo" uib-tooltip-placement="top" uib-tooltip-trigger="mouseenter">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="col-md-2 text-center">
                <span class="badge" ng-bind="uploader.queue.length"></span>
            </div>
            <div class="col-md-7">
                <div ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{ uploader.progress + '%'}}</div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div ng-repeat="item in uploader.queue">
        <div class="file-group-item">
            <div class="col-md-3">
                <button type="button" class="btn btn-success btn-xs" uib-tooltip="Enviar" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" uib-tooltip="Cancelar" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
                <button type="button" uib-tooltip="Remover" class="btn btn-danger btn-xs" ng-click="deleteItem(item)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                
                <i ng-show="item.showLoading" class="loader glyphicon glyphicon-repeat"></i>

                <span uib-tooltip="Progresso bem-sucedido" class="label label-success" ng-show="item.isSuccess">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
                <span uib-tooltip="Progresso cancelado" class="label label-warning" ng-show="item.isCancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </span>
                <span uib-tooltip="Erro no progresso" class="label label-danger" ng-show="item.isError">
                    <i class="glyphicon glyphicon-alert"></i>
                </span>
            </div>

            <div class="col-md-2 text-center">
                <div ng-show="isImage(uploader.isHTML5, item.file)" ng-thumb="{ file: item._file, height: 80 }"></div>
                <i class="glyphicon glyphicon-file" ng-hide="isImage(uploader.isHTML5, item.file)"></i>
            </div>
            <div class="col-md-4 text-center">
                <div class="force-text" ng-bind="item.file.name| shortName:17:true" uib-tooltip="{{item.file.name}}"></div>
            </div>
            <div class="col-md-1">
                <span tooltip="Size" tooltip-placement="top" tooltip-trigger="mouseenter" ng-show="uploader.isHTML5" nowrap>
                    {{ item.file.size/1024/1024|number:2 }} MB
                </span>
            </div>
            <div class="col-md-2">
                <div ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">
                            {{item.progress + '%'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>