<div ng-if="uploader" class="form-uploader-container">
    <div ng-repeat="(type, msg) in messages">
        <div ng-show="msg" class="alert alert-{{type}} alert-dismissible flash" role="alert">
            <button type="button" ng-click="cleanMessage(type)" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>
                <i ng-class="{'fa-warning': type=='danger', 'fa-info': type=='info', 'fa-check': type=='success'}" class="fa"></i>
            </strong>
            {{msg}}
        </div>
    </div>

    <div class="clear"></div>

    <div ng-switch="many">
        <div ng-switch-when="true">
            <input type="file" nv-file-select multiple uploader="uploader" id="file-{{elKey}}" ng-hide="true">
            <div ng-show="uploader.isHTML5" class="{{elKey}} text-center" data-id="default" role="button">
                <div nv-file-drop="" uploader="uploader" ng-click="openFile()">
                    <div nv-file-over="file-over" uploader="uploader" over-class="another-file-over" class="well my-drop-zone">
                        Arrate aqui ou clique para efetuar o upload
                        <i class="fa fa-upload"></i>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="false" ng-if="uploader.queue.length==0" class="file-group-item">
            <input type="file" nv-file-select uploader="uploader" id="file-{{elKey}}" ng-hide="true">
            <div ng-show="uploader.isHTML5" class="{{elKey}} text-center" data-id="default" role="button">
                <div nv-file-drop="" uploader="uploader" ng-click="openFile()">
                    <div nv-file-over="file-over" uploader="uploader" over-class="another-file-over" class="well my-drop-zone">
                        <ng-transclude>
                            Arrate aqui ou clique para efetuar o upload
                            <i class="fa fa-upload"></i>
                        </ng-transclude>
                    </div>
                    <p ng-if="errors!=null" ng-bind="errors" class="text-warning" ng-click="cleanMessage('errors',$event)"></p>
                    <p ng-if="success!=null" ng-bind="success" class="text-success" ng-click="cleanMessage('success',$event)"></p>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="uploader.queue.length>1">
        <div class="file-group">
            <div class="col-md-4">
                <span class="item-circled text-success fa fa-cloud-upload" ng-click="uploader.uploadAll()" ng-hide="!uploader.getNotUploadedItems().length"
                        uib-tooltip="Enviar tudo" uib-tooltip-placement="top" uib-tooltip-trigger="mouseenter">
                </span>
                <button type="button" class="item-circled text-warning fa fa-ban" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading"
                        uib-tooltip="Cancelar tudo" uib-tooltip-placement="top" uib-tooltip-trigger="mouseenter">
                </button>
                <button type="button" class="item-circled text-danger fa fa-times-circle" ng-click="deleteAll(uploader)" ng-disabled="!uploader.queue.length"
                        uib-tooltip="Remover tudo" uib-tooltip-placement="top" uib-tooltip-trigger="mouseenter">
                </button>

                <div class="badge pull-right">
                    Total de arquivos: {{uploader.queue.length}}
                </div>
            </div>
            <div class="col-md-8">
                <div ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{ uploader.progress + '%'}}</div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="file-group" ng-show="uploader.queue.length>0">
        <div ng-repeat="item in uploader.queue" class="file-group-item">
            <div class="pull-left">
                <span class="badge" tooltip="Size" tooltip-placement="top" tooltip-trigger="mouseenter" nowrap>
                    {{ limitToMB(item.file.size) }} MB
                </span>
            </div>
            <div class="text-right">
                <button type="button" class="item-circled text-danger fa fa-times-circle" ng-click="deleteItem(item)"></button>
                <button type="button" class="item-circled text-warning fa fa-ban" uib-tooltip="Cancelar" ng-click="item.cancel()" ng-disabled="!item.isUploading"></button>
                <span class="item-circled text-success fa fa-cloud-upload" uib-tooltip="Enviar" ng-click="item.upload()" ng-hide="item.isReady || item.isUploading || item.isSuccess"></span>
            
                <i ng-show="item.showLoading" class="loader glyphicon glyphicon-repeat"></i>
            
                <span uib-tooltip="Progresso bem-sucedido" class="item-circled text-success fa fa-check-circle" ng-show="item.isSuccess"></span>
                <span uib-tooltip="Progresso cancelado" class="item-circled text-warning fa fa-ban" ng-show="item.isCancel"></span>
                <span uib-tooltip="Erro no progresso" class="item-circled text-danger fa fa-times-circle" ng-show="item.isError"></span>
            </div>
            
            <div ng-switch="isImage(uploader.isHTML5, item.file)">
                <div ng-switch-when="true" class="image-preview" ng-mouseover="hoverCrop = true" ng-mouseleave="hoverCrop = false">
                    <i class="fa fa-cut" ng-show="hoverCrop"></i>
                    <div ng-click="setInstance(item,$event)" data-toggle="modal" data-target="#modal-crop" ng-thumb="{file: item._file, height: 80}"></div>
                </div>
                <i ng-switch-when="false" class="glyphicon glyphicon-file"></i>
            
                <div ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">
                            {{item.progress + '%'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'modal-crop.html'"></div>