<div class="file-group">
    <div class="file-group-item" ng-if="fileItem==null">
        <input type="file" ng-if="!many" id="file" custom-change="onChangeFile" ng-hide="true">
        <div ng-click="openFile()" class="upFile text-center" drag-drop-over="nv-file-over" drag-drop>
            <div ng-bind-html="renderData()"></div>
            <p ng-if="message" ng-bind="message" class="text-warning"></p>
        </div>
    </div>
    <div class="file-group-item" ng-if="fileItem!=null">
        <div class="badge pull-left">
            <span tooltip="Size" tooltip-placement="top" tooltip-trigger="mouseenter" nowrap>
                {{ fileItem.file.size/1024/1024|number:2 }} MB
            </span>
        </div>
        <div class="text-right">
            <button type="button" uib-tooltip="Remover" class="btn btn-danger btn-xs" ng-click="deleteItem(item)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <div class="text-center" uib-tooltip="{{fileItem.file.name}}">
            <div ng-switch="isImage(true, fileItem.file)">
                <div ng-switch-when="true" class="image-preview" ng-mouseover="hoverCrop = true" ng-mouseleave="hoverCrop = false">
                    <i class="fa fa-cut" ng-show="hoverCrop"></i>
                    <div ng-click="setInstance(item, $event)" data-toggle="modal" data-target="#modal-crop" ng-thumb="{file: fileItem.file, height: 80}"></div>
                </div>
                <i ng-switch-when="false" class="glyphicon glyphicon-file"></i>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-crop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Cortar imagem</h4>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a role="tab" data-target="#crop" data-toggle="tab">Corte</a>
                    </li>
                    <li role="presentation">
                        <a role="tab" data-target="#preview" data-toggle="tab">Pre-visualização</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="crop">
                        <div class="cropArea">
                            <img-crop image="cropImage" result-image="cropImageResult" area-type="square" area-min-size="50" result-image-quality="1.0"
                                result-image-size="cropSize"></img-crop>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="preview">
                        <img ng-src="{{cropImageResult}}" width="100%" height="350" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="saveCrop()">Salvar</button>
            </div>
        </div>
    </div>
</div>