<div class="file-group">
    <div ng-if="fileItem==null" class="file-group-item" drag-drop-over="file-over" drag-drop>
        <input type="file" id="file-{{elKey}}" custom-change="onChangeFile" ng-hide="true">
        <div ng-click="openFile()" class="{{elKey}} text-center">
            <ng-transclude>
                Arrate aqui ou clique para efetuar o upload
                <i class='fa fa-upload'></i>
            </ng-transclude>
            <p ng-if="message" ng-bind="message" class="text-warning"></p>
        </div>
    </div>
    <div class="file-group-item" ng-if="fileItem!=null">
        <span class="badge" tooltip="Size" tooltip-placement="top" tooltip-trigger="mouseenter" nowrap>
            {{ limitToMB(fileItem.file.size) }} MB
        </span>
        <span class="delete-image fa fa-times-circle" ng-click="deleteItem(item)"></span>
        <div ng-switch="isImage(true, fileItem.file)" uib-tooltip="{{fileItem.file.name}}">
            <div ng-switch-when="true" class="image-preview" ng-mouseover="hoverCrop = true" ng-mouseleave="hoverCrop = false">
                <i class="fa fa-cut" ng-show="hoverCrop"></i>
                <div ng-click="setInstance(fileItem,$event)" data-toggle="modal" data-target="#modal-crop" ng-thumb="{file: fileItem.file, height: 120}"></div>
            </div>
            <i ng-switch-when="false" class="glyphicon glyphicon-file"></i>
        </div>
        </div>
    </div>
</div>

<div ng-include="'modal-crop.html'"></div>